In [19]:
import pandas as pd
import requests

from tqdm import tqdm

df = pd.read_csv('Stock Images.csv')

df.head()

,Image Link,Tags,Likes,Comments
0,https://cdn.pixabay.com/photo/2022/03/06/05/30...,"Clouds, Sky, Atmosphere, Blue Sky",196,55
1,https://cdn.pixabay.com/photo/2022/04/07/11/45...,"Bird, Ornithology, Hummingbird",76,20
2,https://cdn.pixabay.com/photo/2022/02/28/15/28...,"Sea, Rainbow, Rainfall, Subtropical",282,106
3,https://cdn.pixabay.com/photo/2022/04/04/02/52...,"Cherry Blossoms, Road, Japan, Sakura",42,11
4,https://cdn.pixabay.com/photo/2022/04/09/18/06...,"Cape Marguerite, Flower, Plant",39,15

## 1. Downloading An Image

In [10]:
link = df['Image Link'][0]

res = requests.get(link)

fd = open('Img.png', 'wb')
fd.write(res.content)
fd.close()

## 2. Downloading all the Images

In [20]:
path = []

for link in tqdm(df['Image Link']):
    
    res = requests.get(link)
    
    fd = open('Images/' + link.split('/')[-1], 'wb')
    fd.write(res.content)
    fd.close()
     
    path.append('Images/' + link.split('/')[-1])

100%|██████████████████████████████████████████████████████████████████████████████| 9104/9104 [46:37<00:00,  3.25it/s]

In [23]:
df['Path'] = path

In [32]:
df.head()

,Image Link,Tags,Likes,Comments,Path
0,https://cdn.pixabay.com/photo/2022/03/06/05/30...,"Clouds, Sky, Atmosphere, Blue Sky",196,55,Images/clouds-7050884__480.jpg
1,https://cdn.pixabay.com/photo/2022/04/07/11/45...,"Bird, Ornithology, Hummingbird",76,20,Images/bird-7117346__340.jpg
2,https://cdn.pixabay.com/photo/2022/02/28/15/28...,"Sea, Rainbow, Rainfall, Subtropical",282,106,Images/sea-7039471__340.jpg
3,https://cdn.pixabay.com/photo/2022/04/04/02/52...,"Cherry Blossoms, Road, Japan, Sakura",42,11,Images/cherry-blossoms-7110279__340.jpg
4,https://cdn.pixabay.com/photo/2022/04/09/18/06...,"Cape Marguerite, Flower, Plant",39,15,Images/cape-marguerite-7121992__340.jpg

In [33]:
df.to_csv('Final Stock Images.csv', index = False)